/* PAGE */
:root{
    --background: #ffffff;
    --foreground: #0f1729;
    --text-muted: #6b7280;
    --text-dark: #000000;
    --border: #e5e7eb;
    --primary: #1d4ed8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--background);
    color: var(--foreground);
}

/* HEADER*/

header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid var(--border);
    padding: 0.75rem 1.5rem;
}

.container.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem; 
}

.left{
    display:flex;
    align-items: center;
    gap: 1.5rem;
}

.right{
    display:flex;
    align-items: center;
    gap: 1.5rem;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
    text-decoration: none;
    margin-right: 1.5rem;
}

nav{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
    transition: color 0.3s;
}

nav a.active, a:hover{
    color: var(--text-dark)
}

nav a.active{
    color: #000;
    font-weight: 600;
}

.menu-button{
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.search-bar{
    display:flex;
    align-items: center;
    background-color: #f9fafb;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    font-size: 0.9rem;
    color: #6b7280;
}

.search-bar input{
    font-size:15px;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 0.5rem;
}

.theme-toggle{
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.auth-buttons{
    display: flex;
    gap: 0.5rem;
}

.login-button{
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 9999px;
    border-radius: 0.375rem;
    color: var(--text-muted);
}

.login-button:first-child{
    color:000;
    background-color: transparent;
    border: 1px solid #d1d5db;
}

.login-button:last-child{
    background-color: #1d4ed8;
    color: white;
    border: none;
}



/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc; 
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem 1rem;
}

.footer-text {
    text-align: center;
    font-size: 0.875rem;
    color: #777;
    line-height: 1.7;
}

.footer-links {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
}


/* MEDIA */

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5 rem 3rem;
    }
    .footer-text {
        text-align: left;
    }
    .menu-button{
        display: block;
    }
}


